div.wrapper8 div.photo_wrapper:nth-of-type(1) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15535457_1889782237960302_284750172741697536_n.jpg);
}
div.wrapper8 div.photo_wrapper:nth-of-type(2) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/c128.0.750.750/15534778_955553517908337_6752580830113038336_n.jpg);
}
div.wrapper8 div.photo_wrapper:nth-of-type(3) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15624159_234889923614436_5823277557981642752_n.jpg);
}
div.wrapper8 div.photo_wrapper:nth-of-type(4) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15538337_376421956033010_725561461107064832_n.jpg);
}
div.wrapper8 div.photo_wrapper:nth-of-type(5) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15538638_1859105151032246_3625034272785563648_n.jpg);
}
div.wrapper8 div.photo_wrapper:nth-of-type(6) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/16789455_269532156793339_8044116245215182848_n.jpg);
}
div.wrapper8 div.photo_wrapper:nth-of-type(7) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/15624364_268535616895111_3010988661106802688_n.jpg);
}
div.wrapper8 div.photo_wrapper:nth-of-type(8) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/c0.22.792.792/16463930_120843381767160_9132365369229443072_n.jpg);
}
div.wrapper8 div.photo_wrapper:nth-of-type(9) a {
  background-image: url(https://scontent.cdninstagram.com/t51.2885-15/s320x320/e35/16123942_269080013505449_2610933034672717824_n.jpg);
}
