/*MASTER.CSS*/
/*==LOADING RESOURCES=======================*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');
@import "gotham_ssm_a.css";
@import "instagram.css";
@import "images.css";
@font-face {
  font-family: 'Century725BT-Italic';
  src: url('../fonts/2B4EC7_0_0.woff');
}
/*==PAGE-WIDE PREADJUSTMENTS===============*/
* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
/*IE11==START=========*/
a:visited {
  color: inherit;
}
a:hover {
  color: inherit;
}
a:link {
  color: inherit;
}
/*IE11==END============*/
/*==FONT & TEXT============================*/
body {
  font-size: 1em;
  font-family: Gotham SSm A, "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  color: rgb(100, 100, 100);
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
body {
  font-size: 62.5%;
}
div.wrapper1 div.logo h1 {
  font-size: 6em;
  letter-spacing: -0.1em;
  font-weight: 300;
  color: rgb(62, 62, 62);
}
div.wrapper1 div.logo h1::first-letter {
  color: rgb(153, 51, 40);
}
div.wrapper1 div.telephone h2 {
  font-size: 2.5em;
  letter-spacing: 0.1em;
  color: rgb(62, 62, 62);
}
div.wrapper1 div.navigation1 li {
  font-family: 'Century725BT-Italic',serif;
  font-size: 1.4em;
  font-style: normal;
}
div.wrapper1 div.navigation2 li a{
  font-size: 1.6em;
  letter-spacing: 0.1em;
}
div.wrapper1 div.navigation2 li + li::before {
  font-size: 1.6em;
}
div.wrapper2 div.tagline h1 {
  font-size: 3em;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  text-align: center;
}
div.wrapper3 div.wrapper h3 {
  font-size: 2em;
  line-height: 2em;
}
div.wrapper4 h3 {
  font-size: 2em;
}
div.wrapper4 div.portfolio h4 {
  font-size: 2em;
  color: black;
}
div.wrapper4 div.portfolio p {
  font-size: 1.5em;
  font-style: normal;
  font-family: "Century725BT-Italic",serif;
}
div.wrapper4 a.link_button {
  font-size: 2.5em;
  text-transform: capitalize;
}
div.wrapper5 {
  color: white;
}
div.wrapper5 h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.1em;
}
div.wrapper5 div.year {
  font-family: 'Droid Serif', serif;
  text-transform: uppercase;
  font-size: 10em;
  letter-spacing: 0em;
}
div.wrapper5 p {
  font-family: "Century725BT-Italic",serif;
  font-size: 2em;
  line-height: 1.5em;
  font-weight: 100;
  font-style: normal;
}
div.wrapper6 {
  text-transform: uppercase;
}
div.wrapper6 div.label {
  font-size: 1.5em;
}
div.wrapper7 h2 {
  font-size: 3em;
  color: white;
}
div.wrapper8 div.gallery h5 a {
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: white;
  line-height: 3em;
}
div.wrapper8 ul li {
  font-size: 1.2em;
  line-height: 2em;
}
div.wrapper8 div.sitemap p {
  text-transform: uppercase;
  font-size: 1.5em;
}
div.wrapper8 div.location {
  font-size: 1.3em;
  line-height: 1.5em;
  color: white;
}
div.wrapper8 div.footer {
  font-family: serif;
  font-style: italic;
  font-size: 1.3em;
  color: rgb(205, 205, 205);
}
/*==GRAPHICS: BACKGROUNDS, IMAGES=========*/
/*--All devices--------------------------*/
body {
  background: white;
}
div.wrapper1 {
  background: white;
  }
/*div.wrapper2 {
  background: url('https://orphans.co.uk/sites/default/files/styles/banner_home/public/banners/159901a5-4812-40c8-8556-4bacc2ef4ab6.jpeg?itok=vBwbU8ti');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-attachment: local;
}*/
div.wrapper2 div.bilboard {
  background: url('https://orphans.co.uk/sites/default/files/styles/banner_home/public/banners/159901a5-4812-40c8-8556-4bacc2ef4ab6.jpeg?itok=vBwbU8ti');
  background-position: 50% 0px;
  background-repeat: no-repeat;
  background-attachment: local;
  background-size: cover;
}
div.service div.circle.print {
  background-color: rgb(115, 173, 189);
}
div.service div.circle.design{
  background: rgb(249, 181, 46);
}
div.service div.circle.develop{
  background: rgb(215, 214, 212);
}
/*--<800x600; Cinema)--------------------*/

/*--<480x320; 800x600)-------------------*/

/*--(Smart-Watch; 480x320)---------------*/

/*--Touch-Screen-------------------------*/

/*==POSITIONING & SIZING=================*/
/*--All devices--------------------------*/
div.wrapper1 {
  position: fixed;
  z-index: 5;
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px 1px rgba(69, 69, 69, 0.1);
}
div.wrapper1 li {
  display: inline-block;
}
div.wrapper1 div.header.wrapper {
  position: relative;
  width: 85%;
  max-width: 1100px;
  margin: auto;
  height: 140px;
}
div.wrapper1 div.logo {
  position: absolute;
  bottom: 25px;
  left: 0%;
}
div.wrapper1 div.telephone {
  position: absolute;
  top: 10px;
  right: 0px;
}
div.wrapper1 div.navigation1 {
  position: absolute;
  top: 50px;
  right: 0px;
}
div.wrapper1 div.navigation1 li + li::before {
  content:'//';
  padding: 0px 10px;
}
div.wrapper1 div.navigation2 {
  position: absolute;
  bottom: 15px;
  right: 0%;
}
div.wrapper1 div.navigation1 a:hover{
  border-bottom: 1px solid;
}
div.wrapper1 div.navigation2 a:hover{
  border-bottom: 1px solid;
}
div.wrapper1 div.navigation2 li + li::before {
  content: attr(data-bullet);
  padding: 0px 20px;
  color: rgb(161, 161, 161);
}
/*=======================*/
div.spacer1 {
  height: 140px;
}
/*=======================*/
div.shadow {
  position: relative;
  z-index: -1;
  width: 100%;
  box-shadow: 0px 0px 10px 1px rgba(69, 69, 69, 0.89);
}
/*=======================*/
div.wrapper2 {
  position: relative;
  z-index: -2;
  height: 540px;
}
div.wrapper2 div.bilboard {
  position: absolute;
  width: 100%;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div.wrapper2 div.tagline {
  position: relative;
  max-width: 650px;
  width: 80%;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  text-align: center;
}
div.spacer2{
  height: 540px;
}
/*=======================*/
div.wrapper3 {
  background: white;
  padding-top: 60px;
}
div.wrapper3 div.wrapper>h3 {
  padding-bottom: 100px;
}
div.wrapper3 div.wrapper {
  width: 85%;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
div.wrapper3 div.services {
  display: flex;
  justify-content: space-around;
}
div.wrapper3 div.service {
  width: 33%;
  padding: 0px 10px;
  padding-bottom: 60px;
  flex: 1 1 auto;
}
div.wrapper3 div.service div {
  width: 100%;
}
div.wrapper3 div.service div.circle {
  margin: auto;
  min-width: 125px;
  width: 85%;
  max-width: 225px;
  border-radius: 50%;
  flex: 1 1 auto;
}
div.wrapper3 div.service.pulse div.circle.print {
  animation: circle_pulse 2s;
  animation-delay: 0s;
  animation-play-state: running;
}
div.wrapper3 div.service.pulse div.circle.design {
  animation: circle_pulse 2s;
  animation-delay: 0.5s;
}
div.wrapper3 div.service.pulse div.circle.develop {
  animation: circle_pulse 2s;
  animation-delay: 1s;
}
div.wrapper3 div.service div.circle a{
  display: block;
  width: 100%;
  padding: 50% 0%;
  border-radius: 50%;
  color: white;
  line-height: 0em;
  transition: box-shadow 1s, opacity 1s;
  background-position: center;
  background-size: cover;
}
div.wrapper3 div.service a:hover {
  box-shadow: 0px 0px 0px 300px rgba(255,255,255, 0.55) inset;
}
@keyframes circle_pulse {
  0%{transform: scale(1.0,1.0);}
  50%{transform: scale(1.05,1.05);}
  100%{transform: scale(1.0,1.0);}
}
div.wrapper3 div.service h3{
  margin: 20px 0px;
  font-size: 2.5em;
}
div.wrapper3 div.service p {
  padding: 0px 10%;
  font-size: 1.5em;
  line-height: 1.5em;
  color: rgb(168, 164, 164);
}
div.wrapper3 div.service.print.pulse p {
  transition: opacity 1s linear 0.5s;
}
div.wrapper3 div.service.design.pulse p {
  transition: opacity 1s linear 1s;
}
div.wrapper3 div.service.develop.pulse p {
  transition: opacity 1s linear 1.5s;
}
/*=======================*/
div.wrapper4 {
  background: white;
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.wrapper4 h3 {
  text-align: center;
}
div.wrapper4 div.portfolio {
  flex: 1 1 auto;
  padding: 50px 0px;
  margin: auto;
  width: 85%;
  max-width: 1600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
div.wrapper4 div.case {
  box-sizing: border-box;
  padding: 7px;
  flex: 1 1 auto;
  max-width: 300px;
  min-width: 25%;
}
div.wrapper4 a.case_link {
  display: block;
  padding-top: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 0px;
  top: 0px;
}
div.wrapper4 div.poster {
  width: 100%;
  line-height: 0px;
  position: absolute;
  top: 0px;
  transition: top 0.2s;
}
div.wrapper4 div.poster img{
  width: 100%;
}
div.wrapper4 div.tagline {
  box-sizing: border-box;
  position: absolute;
  bottom: 0%;
  z-index: -1;
  padding-top: 22%;
  padding-bottom: 0%;
  background: white;
  line-height: 3em;
  height: 0px;
  border: 1px solid rgba(60, 60, 60, 0.16);
  border-top: none;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  transition: padding-bottom 0.20s;
}
div.wrapper4 a.case_link div.tagline *{
  width: 100%;
}
div.wrapper4 a.case_link div.tagline hr{
  width: 40%;
  border:none;
  border-top: 1px solid rgba(60, 60, 60, 0.4);
}
div.wrapper4 a.case_link:hover div.poster {
  top: -101%;
}
div.wrapper4 a.case_link:hover div.tagline{
  padding-bottom: 22%;
  z-index: 0;
}
div.wrapper4 div.wrapper.link_button {
  margin: auto;
  text-align: center;
}
div.wrapper4 a.link_button {
  padding: 10px;
  border: 1px solid rgba(56, 56, 56, 0.74);
  transition: all 0.5s;
}
div.wrapper4 a.link_button:hover {
  background: rgba(143, 143, 143, 0.15);
}
/*=======================*/
div.wrapper5 {
  background: rgba(60, 60, 60, 1);
  padding: 80px 0px;
}
div.wrapper5 div.wrapper {
  margin: auto;
  text-align: center;
  width: 85%;
  max-width: 1100px;
}
div.wrapper5 div.year {
  padding: 30px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
div.wrapper5 div.digit {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0px 10px;
  word-break: break-all;
  /*MOVE TO RIGHT FILE ZONE*/
  letter-spacing: 0em;
  line-height: 1.0em;
}
div.wrapper5 div.digit span {
  position: relative;
  display: block;
  opacity: 0;
}
div.wrapper5 div.numbers {
  position: absolute;
  transition: top 1s;
}
div.wrapper5 div.year div.digit:nth-of-type(1) div.numbers {
  top: -2em;
}
div.wrapper5 div.year div.digit:nth-of-type(2) div.numbers {
  top: 0em;
}
div.wrapper5 div.year div.digit:nth-of-type(3) div.numbers {
  top: -1em;
}
div.wrapper5 div.year div.digit:nth-of-type(4) div.numbers {
  top: -7em;
}
div.wrapper5 div.year.founded div.digit:nth-of-type(1) div.numbers {
  top: -1em;
}
div.wrapper5 div.year.founded div.digit:nth-of-type(2) div.numbers {
  top: -8em;
}
div.wrapper5 div.year.founded div.digit:nth-of-type(3) div.numbers {
  top: -7em;
}
div.wrapper5 div.year.founded div.digit:nth-of-type(4) div.numbers {
  top: -3em;
}
div.wrapper5 p {
  margin: auto;
  margin-bottom: 10px;
  width: 80%;
}
/*=======================*/
div.wrapper6 {
  background: white;
}
div.wrapper6.foreground {
  width: 85%;
  max-width: 1100px;
  padding: 80px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align:center;
}
div.wrapper6 div.chart.wrapper {
  width: 30%;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
div.wrapper6 div.chart.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  /*Should equal the size of canvas*/
  width: 200px;
  height: 200px;
}
div.wrapper6 div.canvasWrapper {
  width: 0px;
  height: 0px;
  position: relative;
}
div.wrapper6 canvas {
  transition: opacity 0.5s;
  position: absolute;
  top: -100px;
  left: -100px;
}
div.wrapper6 div {
  transition: opacity 0.7s;
}
div.wrapper6 .hidden {
  opacity: 0;
}
div.wrapper6 div.label {
  padding: 10px;
}
/*======================*/
div.wrapper7 {
  background: rgba(43, 42, 42, 1);
}
div.wrapper7 div.wrapper {
  padding: 30px 0px;
  margin: auto;
  width: 85%;
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
div.wrapper7 div.wrapper a:hover {
  color: rgb(200, 200, 200);
}
div.wrapper7 div.social_media a {
  display: inline-block;
  margin: 10px;
  width: 35px;
  height: 35px;
  background-size: cover;
}
/*=======================*/
div.wrapper8 {
  background: rgba(60, 60, 60, 1);
}
div.wrapper8>div.wrapper{
  width: 85%;
  max-width: 1100px;
  padding-top: 50px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*justify-content: center;*/
}
div.wrapper8 div.gallery {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgb(45, 45, 45);
  padding: 15px;
  margin-bottom: 50px;
  flex: 1 1 auto;
}
div.wrapper8 div.gallery div.photos {
  display: flex;
  flex-wrap: nowrap;
}
div.wrapper8 div.photo_wrapper{
  background-color: black;
  flex: 1 1 auto;
  margin: 1px;
  overflow: hidden;
}
div.wrapper8 div.photo_wrapper a {
  display: block;
  background-size: cover;
  line-height: 0px;
  padding-bottom: 100%;
  transition: opacity 0.2s, transform 0.2s;
}
div.wrapper8 div.photo_wrapper a:hover {
  opacity: 0.5;
  transform: scale(1.05,1.05);
}
div.wrapper8 div.sitemap {
  max-width: 800px;
  width: 60%;
  display:flex;
  flex-grow: 2;
  padding-bottom: 50px;
}
div.wrapper8 div.sitemap div.wrapper {
  padding: 0px;
  width: 25%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 auto;
  font-size: 1em;
  color: white;
}
div.wrapper8 ul li {
  list-style: none;
}
div.wrapper8 div.location {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
  flex: 1 1 auto;
  width: 200px;
  max-width: 100%;
  background: rgb(43, 43, 43);
  padding: 10px;
  align-self: flex-start;
  margin-bottom: 50px;
}
div.wrapper8 div.location div {
  background-position: center;
  background-origin: content-box;
  width: 100%;
  height: 40px;
  padding: 5px;
}
div.wrapper8 div.footer {
  border-top: 2px solid rgb(43, 43, 43);
  width: 85%;
  max-width: 1100px;
  margin: auto;
  text-align: center;
  padding: 50px 0px;
}
div.wrapper8 div.footer li{
  display: inline;
}
div.wrapper8 div.footer li a:hover{
  text-decoration: underline;
}
div.wrapper8 div.footer li + li::before{
  content: attr(data-bullet);
  padding: 10px;
}
/*============================*/
#disclaimer {
  z-index: 9001;
  position: fixed;
  width: 100%;
  bottom: 0px;
  transition: bottom 0.8s;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#disclaimer.hidden {
  bottom: -100vh;
  transform: translate(0,10px);
}
#disclaimerLabel {
  z-index: 9001;
  text-align: center;
  margin: auto;
}
#disclaimerLabel h3 {
  padding: 30px 20px;
  line-height: 0px;
  width: 20vw;
  min-width: 200px;
  background: rgba(173, 48, 16, 0.9);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: inline-block;
  color: white;
  font-weight: 400;
  font-size: 2em;
  transition: font-size 0.3s;
}
#disclaimerLabel div.rounding {
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  flex: 0 0 auto;
}
#disclaimerLabel div.rounding span {
  display: block;
  width: 25px;
  height: 25px;
  border-bottom-right-radius: 100%;
  box-shadow: 0px 0px 0px 15px rgba(173, 48, 16, 0.9);
}
#disclaimerLabel div.rounding:nth-of-type(2) span {
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 100%;
  box-shadow: 0px 0px 0px 15px rgba(173, 48, 16, 0.9);
}
div.disclaimerText {
  width: 100%;
  text-align: center;
  height: 100vh;
  background: rgba(173, 48, 16, 0.9);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.disclaimerText h1, div.disclaimerText h2{
  flex-grow: 0;
  width: 85%;
  font-size: 2.5em;
  letter-spacing: 2px;
  padding-bottom: 60px;
}
div.disclaimerText h1 a {
  color: rgb(140, 9, 40);
  text-shadow: 1px 1px 5px rgb(223, 216, 213);
  font-weight: 900;
}
div.disclaimerText h2:hover {
  cursor: pointer;
}
#disclaimer.hidden #disclaimerLabel:hover {
  transform: translate(0,-10px);
}
#disclaimer.hidden #disclaimerLabel:hover + #disclaimerText {
  transform: translate(0,-10px);
}
#disclaimerLabel h3:hover {
  cursor: pointer;
  font-size:2.2em;
}
/*===========================*/
#cookieAlert {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 200px;
  height: 200px;
  z-index: 9002;
}
#cookieAlert div.wrapper{
  position: relative;
  box-sizing: border-box;
  padding: 15px;
  width: 200px;
  height: 200px;
  background: url(../icons/cookie.svg);
  background-size: cover;
}
#cookieAlert div.background {
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 1);
  background-clip: content-box;
}
#cookieAlert div.wrapper h4{
  font-size: 2em;
  text-align: center;
  font-weight: 600;
  color: rgb(230, 230, 230);
}
#cookieAlert div.wrapper p {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  position: relative;
  display: inline-block;
  padding-top: 15px;
  padding-left: 20px;
  color: rgb(230, 230, 230);
}
#cookieAlert p:hover {
  cursor: pointer;
  text-shadow: 1px 1px 1px rgb(203, 171, 147);
}
#cookieAlert.hidden {
  display: none;
}

/*BREAKING POINTS*/
/*---------<1000px-----------*/
/*62em x 16px = 992px*/
@media (max-width: 62em) {
  div.wrapper4 div.case {
    min-width: 33.3%;
    max-width: 33.3%;
  }
}
/*---------<900px-----------*/
/*56em x 16px = 896px*/
@media (max-width: 56em) {
  div.wrapper7 {
    font-size: 0.6em;
  }
}
/*---------<850px-----------*/
/*53em x 16px = 848px*/
@media (max-width: 53em) {
  div.wrapper1 div.logo {
    bottom: 20px;
  }
  div.wrapper1 div.logo h1 {
    font-size: 4em;
  }
  div.wrapper1 div.navigation1 {
    font-size: 0.85em;
    top: 35px;
  }
  div.wrapper1 div.navigation2 {
    font-size: 0.80em;
    bottom: 10px;
  }
  div.wrapper1 div.telephone {
    font-size: 0.8em;
    top: 5px;
  }
  div.wrapper1 div.header.wrapper {
    height: 90px;
  }
  div.spacer1 {
    height: 90px;
  }
  /*==========================*/
  div.wrapper3 div.services {
    flex-direction: column;
    align-items: center;
  }
  div.wrapper3 div.service {
    width: 100%;
  }
}
/*---------<800px-----------*/
/*50em x 16px = 800px*/
@media (max-width: 50em) {
  div.wrapper2 {
    font-size: 0.7em;
  }
  div.wrapper3 {
    font-size: 0.8em;
  }
  div.wrapper5 div.year {
    font-size: 7em;
  }
  div.wrapper6 div.chart.wrapper {
    width: 50%;
  }
  #disclaimer {
    font-size: 0.8em;
  }
}
/*---------<600px-----------*/
/*38em x 16px = 608px*/
@media (max-width: 38em) {
  div.wrapper4 div.case {
    min-width: 50%;
    max-width: 50%;
  }
  div.wrapper6 div.chart.wrapper {
    width: 100%;
  }
  div.wrapper6 div {
    transition: opacity 0.2s;
  }
}
/*--Touch-Screen-------------------------*/
